@charset "UTF-8";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #FFF6EF;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1em 2em;
  /* Mostrar navbar */
  /* Botón de cerrar */
}
@media (min-width: 1024px) {
  header {
    padding: 1.5em 2em;
  }
}
header .logo {
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .logo img {
  max-width: 100%;
}
header .menu-icon, header .close-icon {
  display: block;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  color: #262626;
  cursor: pointer;
}
@media (min-width: 1024px) {
  header .menu-icon, header .close-icon {
    display: none;
  }
}
header nav {
  background-color: #FFF6EF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
  justify-content: flex-start;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1;
  border-bottom: 1px solid #262626;
}
@media (min-width: 1024px) {
  header nav {
    position: static;
    height: auto;
    transform: none;
    border: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
  }
  header nav .submenu:hover .dropdown {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
  }
}
header nav ul {
  list-style: none;
  text-align: center;
  width: 100%;
  height: auto;
  top: 0;
  border-bottom: 1px solid #262626;
  border-top: 1px solid #262626;
}
@media (min-width: 1024px) {
  header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    width: auto;
    border: none;
  }
}
header nav ul li {
  padding: 2.6em 0;
  background-color: #FFF6EF;
  border-bottom: 1px solid #262626;
}
header nav ul li:last-child {
  border-bottom: none;
}
@media (min-width: 1024px) {
  header nav ul li {
    padding: 0;
    border: none;
  }
}
header nav ul li a, header nav ul li a:visited, header nav ul li a:hover, header nav ul li a:active {
  color: #262626;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 1024px) {
  header nav ul li a, header nav ul li a:visited, header nav ul li a:hover, header nav ul li a:active {
    font-size: 1.2rem;
  }
}
header nav .submenu {
  position: relative;
}
header nav .dropdown {
  display: none;
}
@media (min-width: 1024px) {
  header nav .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFF6EF;
    padding: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    min-width: 160px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}
header nav .dropdown.active {
  display: flex;
  flex-direction: column;
  visibility: visible;
  max-height: 100%;
  opacity: 1;
  transform: translateY(15%);
}
header nav .dropdown.active li {
  padding: 2em;
}
@media (min-width: 1024px) {
  header nav .dropdown.active {
    display: flex;
  }
}
header .nav.active {
  transform: translateX(0);
}
header .close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

footer {
  background-color: #262626;
  height: auto;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
footer p {
  color: #FFF6EF;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.receta-lomo {
  background-color: #FFF6EF;
}
.receta-lomo .hero-lomo {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(18, 18, 18) 98%), url(../img/lomo-saltado.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 650px;
  padding: 1em;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
}
@media (min-width: 768px) {
  .receta-lomo .hero-lomo {
    height: 600px;
  }
}
@media (min-width: 1024px) {
  .receta-lomo .hero-lomo {
    height: 70vh;
  }
}
.receta-lomo .hero-lomo h1 {
  font-size: 6rem;
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 80%;
  color: #FFF6EF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: right;
  line-height: 1;
}
.receta-lomo .hero-lomo h1 span {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}
.receta-lomo .datos-contenido {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em 0;
  align-items: center;
}
.receta-lomo .datos-contenido .raciones {
  background-color: rgb(223, 238, 255);
  border: solid 1px rgb(160, 190, 216);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1.2em;
  border-radius: 200px;
}
.receta-lomo .datos-contenido .raciones i {
  font-size: 1rem;
  color: rgb(25, 96, 158);
}
.receta-lomo .datos-contenido .raciones p {
  margin: 0;
  font-weight: 500;
  color: rgb(25, 96, 158);
  font-weight: 700;
}
.receta-lomo .datos-contenido .tiempo {
  background-color: rgb(228, 255, 220);
  border: solid 1px rgb(186, 220, 175);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1.2em;
  border-radius: 200px;
}
.receta-lomo .datos-contenido .tiempo i {
  font-size: 1rem;
  color: rgb(29, 100, 49);
}
.receta-lomo .datos-contenido .tiempo p {
  color: rgb(29, 100, 49);
  font-weight: 700;
}
.receta-lomo .ingredientes {
  margin-top: 2em;
  padding: 1.5em;
  background-color: #fffaf5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}
.receta-lomo .ingredientes h2 {
  font-size: 1.8rem;
  margin-bottom: 1em;
  color: #262626;
}
.receta-lomo .ingredientes ul {
  list-style: disc inside;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.receta-lomo .ingredientes ul li {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #262626;
}
.receta-lomo .imgs-lomo {
  margin: 2em auto;
  display: flex;
  justify-content: center;
}
.receta-lomo .imgs-lomo img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.receta-lomo .preparacion {
  margin-top: 2em;
  padding: 1.5em;
  background-color: #fffaf5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 2em;
}
.receta-lomo .preparacion h2 {
  font-size: 1.8rem;
  margin-bottom: 1em;
  color: #262626;
}
.receta-lomo .preparacion ol {
  list-style: decimal inside;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.receta-lomo .preparacion ol li {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #262626;
}
.receta-lomo .frase-final {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
  margin-bottom: 3em;
}
.receta-lomo .frase-final h3 {
  font-size: 2.5rem;
  color: #262626;
  text-align: center;
  line-height: 1.5;
}
.receta-lomo .frase-final h3 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Playfair Display", serif;
  font-family: "Lato", sans-serif;
  background-color: #FFF6EF;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}
html main, body main {
  /*flex: 1;*/
  padding: 0 1.8em;
  margin-top: 72px;
}
@media (min-width: 1024px) {
  html main, body main {
    margin-top: 80px;
  }
}
html main .hero-home, body main .hero-home {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(18, 18, 18, 0.9) 70%), url(../img/hero-section-rp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 550px;
  padding: 1em;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
}
@media (min-width: 768px) {
  html main .hero-home, body main .hero-home {
    height: 600px;
  }
}
@media (min-width: 1024px) {
  html main .hero-home, body main .hero-home {
    height: 85vh;
  }
}
html main .hero-home h1, body main .hero-home h1 {
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 80%;
  color: #FFF6EF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  text-align: right;
  line-height: 1.2;
}
html main .hero-home h1 span, body main .hero-home h1 span {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 1024px) {
  html main .hero-home h1, body main .hero-home h1 {
    width: 60%;
    font-size: 4rem;
    bottom: 56px;
    right: 56px;
  }
}
html main .recetas-seleccionadas, body main .recetas-seleccionadas {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 2em;
}
@media (min-width: 1024px) {
  html main .recetas-seleccionadas, body main .recetas-seleccionadas {
    gap: 2em;
  }
}
html main .recetas-seleccionadas h2, body main .recetas-seleccionadas h2 {
  font-size: 2em;
  line-height: 1.5;
  color: #262626;
}
html main .recetas-seleccionadas h2 span, body main .recetas-seleccionadas h2 span {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 1024px) {
  html main .recetas-seleccionadas h2, body main .recetas-seleccionadas h2 {
    font-size: 2.2em;
  }
}
html main .recetas-seleccionadas .grid-cards, body main .recetas-seleccionadas .grid-cards {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  gap: 3em;
}
@media (min-width: 1024px) {
  html main .recetas-seleccionadas .grid-cards, body main .recetas-seleccionadas .grid-cards {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
}
html main .recetas-seleccionadas .grid-cards .card-recetas, html main .recetas-seleccionadas .grid-cards .card-recetas:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:active, html main .recetas-seleccionadas .grid-cards .card-recetas:focus, html main .recetas-seleccionadas .grid-cards .card-recetas:visited, body main .recetas-seleccionadas .grid-cards .card-recetas, body main .recetas-seleccionadas .grid-cards .card-recetas:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:active, body main .recetas-seleccionadas .grid-cards .card-recetas:focus, body main .recetas-seleccionadas .grid-cards .card-recetas:visited {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  gap: 0.6em;
  padding: 2em;
  border-radius: 16px;
  text-decoration: none;
  outline: none;
  color: #FFF6EF;
}
html main .recetas-seleccionadas .grid-cards .card-recetas h3, html main .recetas-seleccionadas .grid-cards .card-recetas:hover h3, html main .recetas-seleccionadas .grid-cards .card-recetas:active h3, html main .recetas-seleccionadas .grid-cards .card-recetas:focus h3, html main .recetas-seleccionadas .grid-cards .card-recetas:visited h3, body main .recetas-seleccionadas .grid-cards .card-recetas h3, body main .recetas-seleccionadas .grid-cards .card-recetas:hover h3, body main .recetas-seleccionadas .grid-cards .card-recetas:active h3, body main .recetas-seleccionadas .grid-cards .card-recetas:focus h3, body main .recetas-seleccionadas .grid-cards .card-recetas:visited h3 {
  color: #FFF6EF;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  html main .recetas-seleccionadas .grid-cards .card-recetas h3, html main .recetas-seleccionadas .grid-cards .card-recetas:hover h3, html main .recetas-seleccionadas .grid-cards .card-recetas:active h3, html main .recetas-seleccionadas .grid-cards .card-recetas:focus h3, html main .recetas-seleccionadas .grid-cards .card-recetas:visited h3, body main .recetas-seleccionadas .grid-cards .card-recetas h3, body main .recetas-seleccionadas .grid-cards .card-recetas:hover h3, body main .recetas-seleccionadas .grid-cards .card-recetas:active h3, body main .recetas-seleccionadas .grid-cards .card-recetas:focus h3, body main .recetas-seleccionadas .grid-cards .card-recetas:visited h3 {
    font-size: 2rem;
  }
}
html main .recetas-seleccionadas .grid-cards .card-recetas span, html main .recetas-seleccionadas .grid-cards .card-recetas span:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:hover span, html main .recetas-seleccionadas .grid-cards .card-recetas:hover span:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:active span, html main .recetas-seleccionadas .grid-cards .card-recetas:active span:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:focus span, html main .recetas-seleccionadas .grid-cards .card-recetas:focus span:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:visited span, html main .recetas-seleccionadas .grid-cards .card-recetas:visited span:hover, body main .recetas-seleccionadas .grid-cards .card-recetas span, body main .recetas-seleccionadas .grid-cards .card-recetas span:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:hover span, body main .recetas-seleccionadas .grid-cards .card-recetas:hover span:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:active span, body main .recetas-seleccionadas .grid-cards .card-recetas:active span:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:focus span, body main .recetas-seleccionadas .grid-cards .card-recetas:focus span:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:visited span, body main .recetas-seleccionadas .grid-cards .card-recetas:visited span:hover {
  color: #FFF6EF;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
html main .recetas-seleccionadas .grid-cards .card-recetas span img, html main .recetas-seleccionadas .grid-cards .card-recetas span:hover img, html main .recetas-seleccionadas .grid-cards .card-recetas:hover span img, html main .recetas-seleccionadas .grid-cards .card-recetas:hover span:hover img, html main .recetas-seleccionadas .grid-cards .card-recetas:active span img, html main .recetas-seleccionadas .grid-cards .card-recetas:active span:hover img, html main .recetas-seleccionadas .grid-cards .card-recetas:focus span img, html main .recetas-seleccionadas .grid-cards .card-recetas:focus span:hover img, html main .recetas-seleccionadas .grid-cards .card-recetas:visited span img, html main .recetas-seleccionadas .grid-cards .card-recetas:visited span:hover img, body main .recetas-seleccionadas .grid-cards .card-recetas span img, body main .recetas-seleccionadas .grid-cards .card-recetas span:hover img, body main .recetas-seleccionadas .grid-cards .card-recetas:hover span img, body main .recetas-seleccionadas .grid-cards .card-recetas:hover span:hover img, body main .recetas-seleccionadas .grid-cards .card-recetas:active span img, body main .recetas-seleccionadas .grid-cards .card-recetas:active span:hover img, body main .recetas-seleccionadas .grid-cards .card-recetas:focus span img, body main .recetas-seleccionadas .grid-cards .card-recetas:focus span:hover img, body main .recetas-seleccionadas .grid-cards .card-recetas:visited span img, body main .recetas-seleccionadas .grid-cards .card-recetas:visited span:hover img {
  transition: transform 0.3s ease;
}
html main .recetas-seleccionadas .grid-cards .card-recetas:hover span img, html main .recetas-seleccionadas .grid-cards .card-recetas:hover:hover span img, html main .recetas-seleccionadas .grid-cards .card-recetas:active:hover span img, html main .recetas-seleccionadas .grid-cards .card-recetas:focus:hover span img, html main .recetas-seleccionadas .grid-cards .card-recetas:visited:hover span img, body main .recetas-seleccionadas .grid-cards .card-recetas:hover span img, body main .recetas-seleccionadas .grid-cards .card-recetas:hover:hover span img, body main .recetas-seleccionadas .grid-cards .card-recetas:active:hover span img, body main .recetas-seleccionadas .grid-cards .card-recetas:focus:hover span img, body main .recetas-seleccionadas .grid-cards .card-recetas:visited:hover span img {
  transform: translateX(16px);
}
html main .recetas-seleccionadas .grid-cards .card-recetas:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:hover:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:active:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:focus:hover, html main .recetas-seleccionadas .grid-cards .card-recetas:visited:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:hover:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:active:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:focus:hover, body main .recetas-seleccionadas .grid-cards .card-recetas:visited:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
html main .recetas-seleccionadas .grid-cards .lomo, body main .recetas-seleccionadas .grid-cards .lomo {
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0), rgba(58, 57, 57, 0.8) 98%), url(../img/lomo-saltado.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html main .recetas-seleccionadas .grid-cards .ceviche, body main .recetas-seleccionadas .grid-cards .ceviche {
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0), rgba(58, 57, 57, 0.8) 98%), url(../img/ceviche.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html main .recetas-seleccionadas .grid-cards .causa, body main .recetas-seleccionadas .grid-cards .causa {
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0), rgba(58, 57, 57, 0.8) 98%), url(../img/causa-limena.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html main .acerca-de, body main .acerca-de {
  background-color: #ede7d2;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em 2em 4em 2em;
  border-radius: 16px;
  margin-top: 2em;
  margin-bottom: 4em;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 1024px) {
  html main .acerca-de, body main .acerca-de {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em;
    padding: 3.5em 3.5em 5em 3.5em;
  }
}
html main .acerca-de .contenido-acerca-de, body main .acerca-de .contenido-acerca-de {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
}
@media (min-width: 1024px) {
  html main .acerca-de .contenido-acerca-de, body main .acerca-de .contenido-acerca-de {
    width: auto;
    align-items: start;
    justify-content: center;
  }
}
html main .acerca-de .contenido-acerca-de h2, body main .acerca-de .contenido-acerca-de h2 {
  text-align: left;
  font-size: 2rem;
  line-height: 1.5;
  color: #262626;
}
html main .acerca-de .contenido-acerca-de h2 span, body main .acerca-de .contenido-acerca-de h2 span {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 1024px) {
  html main .acerca-de .contenido-acerca-de h2, body main .acerca-de .contenido-acerca-de h2 {
    font-size: 2.2rem;
  }
}
html main .acerca-de .contenido-acerca-de p, body main .acerca-de .contenido-acerca-de p {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
}
@media (min-width: 1024px) {
  html main .acerca-de .contenido-acerca-de p, body main .acerca-de .contenido-acerca-de p {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.6rem;
  }
}
html main .acerca-de img, body main .acerca-de img {
  height: auto;
  width: 100%;
}
@media (min-width: 1024px) {
  html main .acerca-de img, body main .acerca-de img {
    height: 550px;
    width: -moz-fit-content;
    width: fit-content;
  }
}