.receta-ceviche {
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        .hero-ceviche {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(18, 18, 18) 98%), url('../img/ceviche.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 650px;
        padding: 1em;
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 40px;
    
        @include tablet {
            height: 600px;
        }
    
        @include desktop {
            height: 70vh;
        }
    
        h1 {
            font-size: 5rem;
            position: absolute;
            bottom: 32px;
            right: 32px;
            width: 80%;
            color: $light-color;
            font-family: $font-stack-sec;
            font-weight: 400;
            text-align: right;
            line-height: 1;

            @include desktop{
                font-size: 6rem;
                bottom: 56px;
                right: 56px;
            }
    
            span {
            font-family: $font-stack;
            font-weight: 500;
            font-style: italic;
            }
        }
        }
        .container-general{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            @include desktop{
                max-width: 1440px;
            }

        .datos-contenido {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1em;
        padding: 1em 0;
        align-items: center;
    
            .raciones {
                background-color: rgb(223, 238, 255);
                border: solid 1px rgb(160, 190, 216);
                display: flex;
                align-items: center;
                gap: 0.5em;
                padding: 0.5em 1.2em;
                border-radius: 200px;
        
                i {
                font-size: 1rem;
                color: rgb(25, 96, 158);
                }
        
                p {
                margin: 0;
                font-weight: 700;
                color: rgb(25, 96, 158);
                }
            }
        
            .tiempo {
                background-color: rgb(228, 255, 220);
                border: solid 1px rgb(186, 220, 175);
                display: flex;
                align-items: center;
                gap: 0.5em;
                padding: 0.5em 1.2em;
                border-radius: 200px;
        
                i {
                font-size: 1rem;
                color: rgb(29, 100, 49);
                }
        
                p {
                color: rgb(29, 100, 49);
                font-weight: 700;
                }
            }
            }
        
            .ingredientes {
            margin-top: 2em;
            width: 100%;
            padding: 1.5em;
            background-color: #fffaf5;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
        
            h2 {
                font-size: 1.8rem;
                margin-bottom: 1em;
                color: $dark-color;
            }
        
            ul {
                list-style: disc inside;
                display: flex;
                flex-direction: column;
                gap: 0.8em;
        
                li {
                font-size: 1.1rem;
                line-height: 1.5;
                color: $dark-color;
                }
            }
            }
        
            .imgs-ceviche {
            margin: 2em auto;
            display: flex;
            justify-content: center;
        
            img {
                width: 100%;
                max-width: 800px;
                height: auto;
                border-radius: 16px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            }
            }
        
            .preparacion {
            margin-top: 2em;
            padding: 1.5em;
            width: 100%;
            background-color: #fffaf5;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
            margin-bottom: 2em;
        
            h2 {
                font-size: 1.8rem;
                margin-bottom: 1em;
                color: $dark-color;
            }
        
            ol {
                list-style: decimal inside;
                display: flex;
                flex-direction: column;
                gap: 0.8em;
        
                li {
                font-size: 1.1rem;
                line-height: 1.6;
                color: $dark-color;
                }
            }
            }
        
            .video-receta {
                display:flex ;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 3em 0;
                text-align: center;
                width: 100%;
            
                h2 {
                    font-size: 2rem;
                    color: $dark-color;
                    margin-bottom: 1em;
                }
                
                .video-container {
                    width: 100%;
                    max-width: 720px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

                .youtube-placeholder {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    cursor: pointer;

                    img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    }

                    .play-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, 0.6);
                    color: #fff;
                    font-size: 2rem;
                    padding: 0.6em 0.9em;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background 0.3s ease;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.8);
                    }
                    }
                }
            }
            

            .frase-final {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4em;
            margin-bottom: 3em;
        
            h3 {
                font-size: 2.5rem;
                color: $dark-color;
                text-align: center;
                line-height: 1.5;
        
                span {
                font-family: $font-stack;
                font-style: italic;
                }
            }
        }
    }
}


