.hero-enlaces {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #111111 98%),
        url(../img/chicha-morada.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
        padding: 1em;
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 2em;

        @include tablet{
            height: 600px;
        }

        @include desktop{
            height: 70vh;
        }
    
        h1 {
        font-size: 3rem;
        color: $light-color;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        text-align: right;
    
        span {
            font-family: "Playfair Display", serif;
            font-weight: 500;
            font-style: italic;
        }
    
        @include desktop {
            font-size: 5rem;
        }
        }
    }
    
    .frase-enlaces {
        padding: 2em 1.5em;
        text-align: center;
    
        h2 {
        font-size: 1.4rem;
        line-height: 1.6;
        color: $dark-color;
    
            span {
                font-family: $font-stack;
                font-style: italic;
                color: $dark-color;
            }
        
            @include desktop {
                font-size: 1.8rem;
                max-width: 960px;
                margin: 0 auto;
            }
        }

        p{
            padding: 1em 0;
            color: rgb(22, 100, 164);
            font-size: 1.2rem;
            text-align: center;
            line-height: 1.5;

            a{
                text-decoration: none;
                font-weight: 700;
                color: $dark-color;
            }
        }
    }
    
    .grid-enlaces {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 2em 1em;
    
        @include tablet {
        grid-template-columns: repeat(2, 1fr);
        }
    
        @include desktop {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1440px;
        margin: 0 auto;
        padding: 3em 2em;
        }
    
        .card-enlace {
        background-color: #fffaf5;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
        }
    
        img {
            width: 100%;
            height: 220px;
            object-fit: cover;
    
            @include desktop {
            height: 240px;
            }
        }
    
        .contenido-card {
            padding: 1.5em;
    
            h2 {
            font-size: 1.4rem;
            color: $dark-color;
            margin-bottom: 0.8em;
            }
    
            a {
            text-decoration: none;
            color: $primary-color;
            font-weight: 600;
            font-size: 1rem;
    
            &:hover {
                text-decoration: underline;
            }
            }
        }
    }
}

.direccion-arte {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 2rem;

    
    picture {
        width: 100%;
        max-width: 900px;
    
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 12px;
            object-fit: cover;
        }
    }
    
    .textos-finales {
        max-width: 600px;
        
        h3 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        
        p {
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
        
        a {
            display: inline-flex;
            align-items: center;
            gap: 0.4rem;
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            color: $dark-color;
            transition: color 0.3s ease;
            
                &:hover {
                color: $primary-color;
                }
        
                i {
                font-size: 0.9rem;
                }
        }
    }
    
    @include tablet {
        flex-direction: column;
        gap: 3rem;
        
        picture {
            max-width: 750px;
        }
    }

    @include desktop {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
        text-align: left;
        max-width: 1440px;

        picture {
            max-width: 600px;
        }

        .textos-finales {
            max-width: 600px;
        }
    }
}
