
.comida-criolla{
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .hero-comida-criolla{
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(18, 18, 18) 98%), url('../img/comida-criolla-hero.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 650px;
            padding: 1em;
            border-radius: 16px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 40px;

            @include tablet{
                height: 600px;
            }

            @include desktop{
                height: 70vh;
            }

            h1{
                font-size: 5rem;
                position: absolute;
                bottom: 32px;
                right: 32px;
                width: 80%;
                color: $light-color;
                font-family: "Lato", sans-serif;
                font-weight: 400;
                text-align: right;
                line-height: 1;

                span{
                    font-family: "Playfair Display", serif;
                    font-weight: 500;
                    font-style: italic;
                }
            }
        }
        .container-general{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            width: 100%;
            margin-bottom: 4em;

            @include desktop{
                max-width: 1200px;
            }

        .intro-comida {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1em;
            padding: 1em 0;
            width: 100%;
            margin:1em 0;

            @include desktop{
                margin:2em 0;
            }
            
            h2{
                color: $dark-color;
                text-align: left;
                font-size: 2.5rem;
                
                span{
                    font-family: $font-stack;
                }
            }

            p{
                color: $dark-color;
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        .grid-recetas-criollas{
            display: flex;
            flex-direction: column;
            gap: 2.5em;
            width: 100%;

            .card-receta{
                display: flex;
                flex-direction: column;
                gap: 2em;
                text-decoration: none;
                background-color: #fcfcfc;
                width: auto;
                border-radius: 16px;
                padding: 2em 1.8em;
                box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;

                .card-receta:hover{
                    background-color: aqua;
                }

                @include desktop{
                    gap: 4em;
                    padding: 3em;
                }

                picture{
                    height: auto;
                    width: 100%;
                    border-radius: 8px;
                    transition: transform 0.4s ease;
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        display: block;
                        border-radius: 4px;
                    }
                }

                &:hover {
                    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); // sombra al hacer hover
                
                    picture {
                        transform: scale(1.02);
                    }
                }

                .card-text{
                    display: flex;
                    flex-direction: column;
                    gap: 0.8em;

                    h3{
                        color: $dark-color;
                        font-weight: 700;
                        font-size: 1.5rem;
                    }

                    p{
                        color: $dark-color;
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 1.5;
                    }
                }

                .btn-receta{
                    background-color: transparent;
                    padding: 0.8em 1.5em;
                    width: fit-content;
                    border-radius: 8px;
                    font-size: 1.2rem;
                    color: $dark-color;
                    font-weight: 600;
                    border: solid 1px $dark-color;
                    text-decoration: none;
                    outline: none;

                }
            }
        }
        }
            
}
