//Layout general
@import 'layout/header';
@import 'layout/footer';

//Estilos por página
@import 'pages/recetas';
@import 'pages/lomo';
@import 'pages/ceviche';
@import 'pages/enlaces';

//Aplicamos los estilos

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #C00625;
$dark-color: #262626;
$light-color: #FFF6EF;
$font-stack: "Playfair Display", serif;
$font-stack-sec: "Lato", sans-serif;
$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
    
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

html, body{
    font-family: $font-stack;
    font-family: $font-stack-sec;
    background-color: $light-color;
    height: 100%;
    min-height: 100vh;
    margin: 0;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: $light-color;
        top: 0;
        z-index: 1;
        width: 100%;
        padding: 1em 2em;

        @include desktop{
            padding: 1.8em 2em;
        }

        .logo{
            max-width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img{
                max-width: 100%;
            }
        }

        .menu-icon, .close-icon {
            display: block;
            width: 32px;
            height: 32px;
            background: none;
            border: none;
            color: $dark-color;
            cursor: pointer;

            @include desktop {
                display: none;
                }
        }

        nav{
            background-color: $light-color;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4em 0;
            justify-content: flex-start;
            transform: translateY(-100%);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            z-index: 1;
            border-bottom: 1px solid $dark-color;

            @include desktop {
                position: static;
                height: auto;
                transform: none;
                border: none;
                flex-direction: row;
                justify-content: flex-end;
                padding: 0;
                background-color: transparent;

                .submenu:hover .dropdown {
                    visibility: visible;
                    opacity: 1;
                    max-height: 500px;
                    transform: translateY(0); // o como máximo 4px
                }
            }

            ul{
                list-style: none;
                text-align: center;
                width: 100%;
                height: auto;
                top:0;
                border-bottom: 1px solid $dark-color;
                border-top: 1px solid $dark-color;

                @include desktop {
                    display: flex;
                    justify-content: flex-end;
                    gap: 2em;
                    width: auto;
                    border: none;
                }

                li{
                    padding: 2.6em 0;
                    background-color: $light-color;
                    border-bottom: 1px solid $dark-color;

                    &:last-child{
                        border-bottom: none;
                    }

                    @include desktop {
                        padding: 0;
                        border: none;
                    }

                    a, a:visited, a:hover , a:active {
                        color: $dark-color;
                        text-decoration: none;
                        outline: none;
                        font-size: 1.5rem;
                        font-weight: 600;

                        @include desktop{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        
    
        .submenu {
            position: relative;
            }

            .dropdown {
                display: none;

                @include desktop {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $light-color;
                    padding: 1em;
                    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
                    width: auto;
                    min-width: 160px;
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0;
                    overflow: hidden;
                    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                }
            }

                .dropdown.active {
                    display: flex;
                    flex-direction: column;
                    visibility: visible;
                    max-height: 100%;
                    opacity: 1;
                    transform: translateY(15%);

                li {
                    padding: 2em;
                }

                @include desktop {
                    display: flex; 
                }
            }
        }
        
          /* Mostrar navbar */
            .nav.active {
            transform: translateX(0);
            }
            
          /* Botón de cerrar */
            .close-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            }
    }

    main{
        /*flex: 1;*/
        padding: 0 1.8em;
        margin-top: 72px;

        @include desktop{
            margin-top: 88px;
        }

        section{
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(33, 33, 33, 0.9) 70%), url(../img/hero-section-rp.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 550px;
            padding: 1em;
            border-radius: 16px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 40px;

            @include tablet{
                height: 600px;
            }

            @include desktop{
                height: 600px;
            }

            h1{
                position: absolute;
                bottom: 32px;
                right: 32px;
                width: 80%;
                color: $light-color;
                font-family: "Lato", sans-serif;
                font-weight: 400;
                font-size: 2.2rem;
                text-align: right;
                line-height: 1.2;
            
                span{
                    font-family: "Playfair Display", serif;
                    font-weight: 600;
                    font-style: italic;
                }

                @include desktop{
                    width: 60%;
                    font-size: 4rem;
                    bottom: 56px;
                    right: 56px;
                }
            }
        }

        .recetas-seleccionadas{
            display: flex;
            flex-direction: column;
            gap: 3em;
            margin-top: 2em;

            @include desktop{
                gap: 2em;
            }

            h2{
                font-size: 2em;
                line-height: 1.5;
                color: $dark-color;
                span{
                    font-family: $font-stack;
                    font-weight: 600;
                    font-style: italic;
                }

                @include desktop{
                    font-size: 2.2em;
                }
            }

            .grid-cards{
                display: flex;
                flex-direction: column;
                height: fit-content;
                gap: 3em;

                @include desktop{
                    display: flex;
                    flex-direction: row;
                    gap: 2em;
                }

                .card-recetas, .card-recetas:hover, .card-recetas:active, .card-recetas:focus, .card-recetas:visited{
                    width: 100%;
                    height: 450px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: start;
                    gap: 0.6em;
                    padding: 2em;
                    border-radius: 16px;
                    text-decoration: none;
                    outline: none;
                    color: $light-color;

                    h3{
                        color: $light-color;
                        font-size: 1.8rem;

                        @include desktop{
                            font-size: 2rem;
                        }
                    }

                    span, span:hover{
                        color: $light-color;
                        font-family: $font-stack-sec;
                        font-weight: 500;
                        text-decoration: none;
                        outline: none;
                        font-size: 1.3rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0.5em;

                        img {
                            transition: transform 0.3s ease;
                        }
                    }

                    &:hover span img {
                        transform: translateX(16px);
                    }

                    &:hover{
                        transform: scale(1.02);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                    }

                }

                .lomo{
                    background: linear-gradient(to bottom, rgba(53, 53, 53, 0), rgba(58, 57, 57, 0.8) 98%), url(../img/lomo-saltado.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .ceviche{
                    background: linear-gradient(to bottom, rgba(53, 53, 53, 0), rgba(58, 57, 57, 0.8) 98%), url(../img/ceviche.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .causa{
                    background: linear-gradient(to bottom, rgba(53, 53, 53, 0), rgba(58, 57, 57, 0.8) 98%), url(../img/causa-limena.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        .acerca-de{
            background-color: #ede7d2;
            display: flex;
            flex-direction: column;
            gap: 3em;
            padding: 2em 2em 4em 2em;
            border-radius: 16px;
            margin-top: 2em;
            margin-bottom: 4em;
            height: fit-content;

            @include desktop{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 6em;
                padding: 3.5em 3.5em 5em 3.5em;
            }

            .contenido-acerca-de{

                display: flex;
                flex-direction: column;
                gap: 1.5em;
                width: 100%;

                @include desktop{
                    width: auto;
                    align-items: start;
                    justify-content: center;
                }

                h2{
                    text-align: left;
                    font-size: 2rem;
                    line-height: 1.5;
                    color: $dark-color;

                    span{
                        font-family: $font-stack;
                        font-weight: 600;
                        font-style: italic;
                        }

                    @include desktop{
                        font-size: 2.2rem;
                    }
                    }

                p{
                    font-size: 1.2rem;
                    line-height: 1.5;
                    width: 100%;

                    @include desktop{
                        width: fit-content;
                        font-size: 1.6rem;
                    }
                    }
                }
                img{
                    height: auto;
                    width: 100%;

                    @include desktop{
                        height: 550px;
                        width: fit-content;
                    }
                }

            }
        }

    footer{
        background-color: $dark-color;
        height: auto;
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    
            p{
                color: $light-color;
                font-weight: 500;
                line-height: 1.5;
                text-align: center;
            }
        }
}









