footer{
    background-color: $dark-color;
    height: auto;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

        p{
            color: $light-color;
            font-weight: 500;
            line-height: 1.5;
            text-align: center;
        }
    }