header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: $light-color;
    top: 0;
    z-index: 3;
    width: 100%;
    padding: 1em 2em;
    
        @include desktop {
        padding: 1.5em 2em;
        }
    
        .logo {
        //max-width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        img {
        width: 100%;
        height: auto;
        max-width: 200px;

            @include desktop {
                max-width: 320px;
            }
        }
        }
    
        .menu-icon,
        .close-icon {
            display: block;
            width: 32px;
            height: 32px;
            background: none;
            border: none;
            color: $dark-color;
            cursor: pointer;
        
            @include desktop {
                display: none;
            }
        }
    
        nav {
        background-color: $light-color;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 0;
        justify-content: flex-start;
        transform: translateY(-100%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        z-index: 1;
        border-bottom: 1px solid $dark-color;
    
        @include desktop {
            position: static;
            height: auto;
            transform: none;
            border: none;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;
            background-color: transparent;
        }
    
        ul {
            list-style: none;
            text-align: center;
            width: 100%;
            height: auto;
            top: 0;
            border-bottom: 1px solid $dark-color;
            border-top: 1px solid $dark-color;
    
            @include desktop {
            display: flex;
            justify-content: flex-end;
            gap: 2em;
            width: auto;
            border: none;
            }
    
            li {
            padding: 2.6em 0;
            background-color: $light-color;
            border-bottom: 1px solid $dark-color;
    
            &:last-child {
                border-bottom: none;
            }
    
            @include desktop {
                padding: 0;
                border: none;
            }
    
            a,
            a:visited,
            a:active {
                color: $dark-color;
                text-decoration: none;
                outline: none;
                font-size: 1.5rem;
                font-weight: 600;
    
                @include desktop {
                font-size: 1.2rem;
                transition: all 0.3s ease;
    
                &:hover,
                &:focus {
                    color: $dark-color;
                    border-bottom: 2px solid $dark-color;
                }
                }
            }
            }
        }
    
        .submenu {
            position: relative;
    
            @include desktop {
            &:hover .dropdown {
                visibility: visible;
                opacity: 1;
                max-height: 500px;
                transform: translateY(0);
            }
            }
        }
    
        .dropdown {
            display: none;
    
            @include desktop {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $light-color;
            padding: 1em;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
            min-width: 160px;
            opacity: 0;
            visibility: hidden;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    
            li a {
                border: none;
    
                &:hover,
                &:focus {
                border-bottom: 2px solid $dark-color;
                }
            }
            }
        }
    
        .dropdown.active {
            display: flex;
            flex-direction: column;
            visibility: visible;
            max-height: 100%;
            opacity: 1;
            transform: translateY(15%);
    
            li {
            padding: 2em;
            }
    
            @include desktop {
            display: flex;
            }
        }
        }
    
        .nav.active {
        transform: translateX(0);
        }
    
        .close-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        }
}
